<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<http use-expressions="true" auto-config="false">-->
    <http pattern="/api/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <!--<intercept-url pattern="/**" access="isAnonymous()"/>-->
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <intercept-url pattern="/users/*" access="hasRole('ROLE_ADMIN')"/>
        <!--<intercept-url pattern="/profile" access="permitAll"/>-->
        <csrf disabled="true"/>
<!--    <session-management session-fixation-protection="migrateSession" session-authentication-error-url="/login">
            <concurrency-control max-sessions="5"/>
        </session-management>-->
    </http>

    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>

    <authentication-manager>
    <authentication-provider user-service-ref="userService">
            <!--<password-encoder ref="passwordEncoder"/>-->
        <password-encoder ref="noopEncoder"/>
    </authentication-provider>
    </authentication-manager>
</beans:beans>